<div class="modal-container">
<div class="update-modal-header">
  Update Password
</div>

<div class="update-modal-body">
  <div class="update-user">
    <div class="credentials">
        <div class="title">
          Current Password
        </div>
        <div class="content">
          <input class="borderless" v-model="currentPass" required></input>
        </div>
    </div>
    <div class="credentials">
      <div class="title">
          New Password
      </div>
      <div class="content">
        <input type="password" class="borderless" v-model="newPass" required></input>
      </div>
    </div>
    <div class="credentials">
      <div class="title">
          Retype New Password
      </div>
      <div class="content">
        <input type="password" class="borderless" v-model="retypeNew" required></input>
      </div>
    </div>
  </div>
</div>

<div class="update-modal-footer">
  <button class="btn modal-cancel-button" @click="$emit('closeModal')">
    Cancel
  </button>
  <button class="btn modal-save-button" @click="updatePassword">
    Update
  </button>
</div>
</div>
